button{
  background-color: #ffffff; 
  border:  2px solid rgb(34, 49, 180);
  color: rgb(34, 49, 180);
  padding: 8px 28px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 12px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 14px;
}

.button_style_teste{
  background-color: #ffffff; 
  border:  2px solid rgb(14, 129, 14);
  color: rgb(14, 129, 14);
  padding: 8px 28px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 12px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 14px;
}


::-webkit-scrollbar{
    height: 6px;
    width: 6px;
    background: rgb(27, 3, 167);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(28, 26, 151); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 26, 151); 
}

::-webkit-scrollbar-thumb:horizontal{
    background: rgb(28, 26, 151);
    border-radius: 10px;
}


body {
    margin:0;
    padding:0;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    background-color: rgb(22, 26, 29);
  }

.containerMain {
    margin: auto;
    padding:5px;
    width: 95%;
}
  
.Divhead {
    background-color: rgb(17, 17, 17);
    padding-top: 12px;
  }

div {
  border-radius: 14px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }

hr{
    border: 1.5px solid rgb(189, 189, 189);
    border-radius: 5px;
  }

.custom-tabs-container {
    width: 100%;
}
.tab_t {
    width: 100%;
}
/* .custom-tabs {
    border-top-left-radius: 3px;
    background-color: rgb(22, 26, 29);
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
    justify-content: center;
}

.custom-tab {
    color:#ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: rgb(45, 51, 143);
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: #ffffff;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 9px solid #a00b0b !important;
}*/

.custom-tab {
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important; */
    /* padding: 12px !important; */
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    font-size: 80%;
    justify-content: center;
}


/* .custom-tab--selected {
    color: #341291;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 9px solid #a00b0b !important;
}  */

.radio {
  margin-left: 3px;
}
label {
  margin-left: 3px;
}

